<h2 class="text-center mt-2"><strong>Job Application Form</strong></h2>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form #jobform="ngForm" (ngSubmit)="onsubmit()">
            <div class="form-group">
              <label for="FullName">Full Name</label>
              <input class="form-control" type="text" name="FullName" ngModel required #FullName="ngModel">
              <strong class="text-danger" *ngIf="FullName.touched&&FullName.hasError('required')">
                Full Name is required!.
              </strong>
            </div>

            <div class="form-group">
              <label for="Email"> Email</label>
              <input type="text" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" class="form-control" ngModel
                required #Email="ngModel" name="Email">
              <strong class="text-danger" *ngIf="Email.touched&& Email.hasError('required')">
                Email is Required !.
              </strong>

              <strong class="text-danger" *ngIf="Email.dirty&&Email.hasError('pattern')">
                Email pattern is required.
              </strong>
            </div>

            <div class="form-group">
              <label for="mobilenumber">Mobile number</label>
              <input type="text" class="form-control" ngModel required maxlength="10" #mobilenumber="ngModel"
                name="mobilenumber" (keypress)="onlyNumbers($event)" (input)="onMobileInput($event)"
                pattern="^[6-9][0-9]{9}$">
              <strong class="text-danger" *ngIf="mobilenumber.touched && mobilenumber.hasError('required')">
                Mobile Number is required!.
              </strong>
              <strong class="text-danger" *ngIf="mobilenumber.dirty && mobilenumber.hasError('pattern')">
                Mobile Pattern is required!.
              </strong>
            </div>
            <h2>Experience</h2>
            <div class="form-group">
              <select name="experience" ngModel required #experience="ngModel" class="form-control">
                <option value="" selected disabled>Select Experience</option>
                <option value="Fresher">Fresher</option>
                <option value="0-1 Years">0 - 1 Years</option>
                <option value="1-3 Years">1 - 3 Years</option>
                <option value="3-5 Years">3 - 5 Years</option>
                <option value="5-10 Years">5 - 10 Years</option>
                <option value="10+ Years">10+ Years</option>
              </select>
              <strong class="text-danger" *ngIf="experience.touched&&experience.hasError('required')">
                Experience is Required!.
              </strong>
            </div>

            <h2>Skills</h2>

            <div class="row ml-1">
              <div class="form-group">
                <label for="condition">
                  <input type="checkbox" required type="checkbox" #condition="ngModel" name="condition" ngModel
                    [id]="condition" class="mr-2">HTML
                </label>
                <strong class="text-danger" *ngIf="condition.touched && condition.hasError('required')">
                  skill is required!.
                </strong>
              </div>

              <div class="form-group">
                <label for="condition">
                  <input type="checkbox" required type="checkbox" #condition="ngModel" name="condition" ngModel
                    [id]="condition" class="mr-2 ml-2">CSS
                </label>
                <strong class="text-danger" *ngIf="condition.touched && condition.hasError('required')">
                  skill is required!.
                </strong>
              </div>
              <div class="form-group">
                <label for="condition">
                  <input type="checkbox" required type="checkbox" #condition="ngModel" name="condition" ngModel
                    [id]="condition" class="mr-2 ml-2">Javascript
                </label>
                <strong class="text-danger" *ngIf="condition.touched && condition.hasError('required')">
                  skill is required!.
                </strong>
              </div>
              <div class="form-group">
                <label for="condition">
                  <input type="checkbox" required type="checkbox" #condition="ngModel" name="condition" ngModel
                    [id]="condition" class="mr-2 ml-2">Angular
                </label>
                <strong class="text-danger" *ngIf="condition.touched && condition.hasError('required')">
                  skill is required!.
                </strong>
              </div>
            </div>

            <div class="form-group">
              <label for="resumeUrl">Resume URL</label>
              <input type="url" class="form-control" id="resumeUrl" name="resumeUrl" ngModel #resumeUrl="ngModel"
                pattern="https?:\/\/(www\.)?[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,}(\/\S*)?"
                placeholder="https://example.com/resume.pdf" required>

              <strong class="text-danger" *ngIf="  resumeUrl.touched &&resumeUrl.errors?.['required'] ">
                Resume URL is required.
              </strong>
              <strong class="text-danger" *ngIf=" resumeUrl.dirty&&resumeUrl.errors?.['pattern']  ">
                Please enter a valid URL.(https://example.com/resume.pdf)
              </strong>
            </div>

            <div class="form-group">
              <label for="salary">Expected Salary</label>
              <input type="number" class="form-control" id="salary" name="salary" ngModel #salary="ngModel"
                placeholder="Enter Expected Salary" required min="10001" step="1000">

              <strong class="text-danger" *ngIf="salary.touched&&salary.errors?.['required'] ">
                Expected Salary is required.
              </strong>

              <strong class="text-danger" *ngIf=" salary.dirty&&salary.errors?.['min'] ">
                Salary must be greater than 10000.
              </strong>
            </div>
            <div>
              <button 
              [disabled]="jobform.invalid"
              mat-raised-button color="primary" class="w-100">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>